.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}
#footer p {
  padding-top: 20px;
  color: white;
  font-size: 0.9rem;
  line-height: 1.4;
}
#footer a {
  color: lightgray;
  text-decoration: none;
}
#footer a:hover {
  color: #b33c86;
}
