html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: ghostwhite;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  margin: 0.5rem;
  background: #fcfcfc !important;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 1rem);
}

.name {
  width: 100%;
  font-size: 1.1rem;
}

.return {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.react-tabs__tab-list {
  margin: 5px 0 10px !important;
}

.react-tabs__tab {
  width: 33%;
  text-align: center;
}

.react-tabs__tab--selected {
  font-weight: bold;
}

.compare-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  outline: none !important;
  width: 100%;
  background: green;
  color: ghostwhite;
  font-size: 1.2rem;
  line-height: 2;
}

.comparison-table {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

/* .column-1 {
  width: 20%;
  padding: 0.25rem;
} */
/* .column-2 {
  width: 40%;
  padding: 0.25rem;
} */

.column-1,
.column-2,
.column-3,
.column-4,
.column-5 {
  width: 20%;
  /* max-width:  */
  padding: 0.25rem;
  text-align: right;
}

.column-1 {
  text-align: left;
}

.width-2 {
  width: 40%;
}
.width-3 {
  width: 26.6%;
}
.width-4 {
  width: 20%;
}

.headers {
  font-size: 1rem !important;
  font-weight: 600;
}
.row-odd {
  background: #cecece;
  display: flex;
  font-size: 0.875rem;
}
.row-even {
  display: flex;
  font-size: 0.875rem;
}

#Search {
  padding: 8px;
  display: flex;
  align-items: center;

  font-family: 'Montserrat';
  font-size: 1.1875rem;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
#Search input {
  width: 100%;
  outline: none;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}

.filter-btn {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  background: #fcfcfc;
}
